.formContainer{
   background-color: #09f1f1;; 
   height: 100vh;
   display: flex;
  align-items: center;
  justify-content: center; 
  
  
}

 .formWrapper{
  background-color: white;
  padding:20px 30px;
   border-radius:10px;
   display:flex;
   flex-direction:column;
   gap: 5px;
   align-items: center;
   justify-content: center; 
 
}
form{
  display:flex;
  flex-direction:column;
  gap: 15px;
  
}
  .logo{
    
    font-size: 2rem;
    font-weight: bolder;
    color: #09f1f1;
  }
  .title{
    
    font-style:italic;
    font-weight:bolder;
    color: blue;
  }
  